<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cube.css') }}">
        <title> Cube </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    </head>

    <body>
        <div class="cube">
            <div class="top"></div>
                <div>
                    <span style="--i:0;"></span>
                    <span style="--i:1;"></span>
                    <span style="--i:2;"></span>
                    <span style="--i:3;"></span>
                </div>
        </div>
    <a href="/Home_Page" class="floating-button">Back</a>
    </body>
</html>